<%= render 'posts/errors', object: @user %>

<div class="well">
<%= form_for @user do |f|%> 
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br/>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>

  <%= f.submit bottom_name, class: "btn btn-primary" %>
<% end %> 
</div>