<h4>Hi there, you're viewing <%= link_to @post.title, fix_url(@post.url) %></h4>

<%if logged_in? %>
<p class="pull-right">
<%= link_to "Edit this post", edit_post_path(@post) %>
</p>
 <% end %>
<p>
<%= render @post.categories %>
</p>


<%= render 'share/content_title', title: @post.title %>

<%= render 'posts/post', post: @post, categories: @categories %>
<%= render 'posts/errors', object: @comment %>


<%if logged_in? %>
<h5>Create a comment: </h5>
<%= form_for [@post, @comment] do |f| %>
<div class="control-group">
  <%= f.label :body, "Leave a comment" %>
  <%= f.text_area :body, rows: 3, class: "span4" %>
  </div>
  <%= f.submit "Create Comment", class: "btn btn-primary" %>
<% end %>
 <% end %>
 <%= render 'comments' , comments: @comments %>
